body{
    margin: 0;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgb(202, 58, 255);
    left: 0;
    top: 0;
    -webkit-filter: blur(120px);    
}
.container::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgb(46, 209, 255);
    right: 0;
    bottom: 0;
    -webkit-filter: blur(120px);
}
.login-container{
    width: 25%;
    height: 50%;
    background: rgba(124, 124, 124, 0.042);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    .login-box{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .login-box-dets{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .error{
                color: red;
                font-weight: bold;
                margin-bottom: 10px;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                .form-dets{
                    .form-group{
                        .form-control{
                            color: white;
                            width: 70%;
                            height: 30px;
                            background-color: rgba(141, 141, 141, 0.12);
                            border-radius: 12px;
                            border-top-left-radius: 0px;
                            border-end-end-radius: 0px;
                            padding: 5px;
                            font-size: 15px;
                            border: 0px solid white;
                            margin-bottom: 10px;
                            outline: none;
                        }
                        .form-control:focus{
                            background-color: rgba(141, 141, 141, 0.202);
                            background: 0;
                            color: white;
                            outline: dotted 2px white;
                        }
                    }
                }
                .submit-btn{
                    transition: background-color 0.4s ease, box-shadow 0.4s ease;
                    width: 20%;
                    height: 40px;
                    font-size: 14px;
                    background-color: rgb(157, 0, 255);
                    border: 0px;
                    border-radius: 10px;
                    color: white;
                    text-align: center;
                    box-shadow: 0;
                }
                .submit-btn:hover{
                    cursor: pointer;
                    transition: background-color 0.4s ease, box-shadow 0.4s ease;
                    background-color: rgb(179, 57, 255);
                    box-shadow: 0px 0px 12px rgb(179, 57, 255);
                }
            }
            
        }
    }
    
}