$blackback: #191919;
$navColor: #8c76fb;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@font-face {
    font-family: Yekan;
    src: url(fonts/BYekan+.ttf);
}

body{
    margin: 0;
    background-color: $blackback;
    height: 100vh;
    .container{
        height: 100%;
    }
}

.header
{
    width: 100%;
    height: 8%;
    background-color: $navColor;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: fixed;
    top: 0;
    .navbar-container{
        height: 100%;
        .navbar{
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20%;
            .navbar-logo{
                width: fit-content;
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: left;
                height: 100%;
                margin-left: 5%;
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    img{
                        height: 40px;
                    }
                    p{
                        font-family: 'Quicksand', sans-serif;
                        font-size: 26px;
                        color: white;
                        margin: 0;
                    }
                }
            }
            .navbar-options{
                height: 100%;
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .nav-option{
                    color: white;
                    width: 90px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                    font-family: 'Yekan', sans-serif;
                }
            }
            .name-container{
                width: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;
                overflow: hidden;
                margin-right: 5%;
                p{
                    font-size: 20px;
                    font-family: 'Yekan', sans-serif;
                    color: white;
                }
            }
        }
    }
}