{% extends 'huger/layout.html' %}
{% load static %}


{% block title %}
    PlanPlus
{% endblock %}


{% block script %}
    <script src="{% static 'huger/index.js' %}"></script>
{% endblock %}
    

{% block body %}
    <div class="pages">
        <div id="about">
            <div class="card" id="about-card">
                <div class="card" id="about-card-dets">
                    <h3 style="color: #a594fd;">سلام و درود خدمت کاربران محترم</h3>
                    <p></p>
                </div>
            </div>
        </div>

        <div id="plan">
            <div class="plan-cards"> 
                <div class="card" id="plan-card">
                    <h3 style="color: #a594fd;">برنامه جدید</h3>
                </div>
            </div>
        </div>

        <div id="contact">
            <div class="card" id="contact-card">
                <h3 style="color: #a594fd;">...با ما در ارتباط باشید</h3>
                <p></p>
            </div>
        </div>
        
    </div>
    
{% endblock %}
    
    