{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'huger/layoutStyles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>
            {% block title %}{% endblock  %}
        </title>
    </head>
    
    <body>
        <div class="head">
            <div class="navbar-container">
                <div class="navbar">
                    <div class="navbar-groups">
                        <div class="navbar-logo">
                            <img src="{% static 'huger/logo.png' %}" alt="logo">
                            <p class="site-name">PlanPlus</p>
                        </div>
                        <div class="navbar-pages">
                            <div class="navbar-page" id="contact-btn">
                                <p class="page-locate">ارتباط با ما</p>
                            </div>
                            <div class="navbar-page" id="about-btn">
                                <p class="page-locate">درباره ما</p>
                            </div>
                            <div class="navbar-page" id="home-btn">
                                <a class="page-locate" href="{% url 'index' %}">صفحه اصلی</a>
                            </div>
                                
                            {% if user.is_authenticated %}
                                <div class="navbar-slider">
                                    <div class="slider">
                                        <button class="slider-btn" id="username-options">{{user.username}}</button>
                                        <div class="slider-content" id="account-opts" style="transform: translate(100%, 0px);">
                                            <div class="slider-style">
                                                <div class="other-btn">
                                                    <div class="user-btn" id="profile-btn">
                                                        <a href="{% url 'profile' %}">پنل کاربری</a>
                                                    </div>
                                                    <div class="user-btn" id="plan-btn">
                                                        <p>برنامه جدید</p>
                                                    </div>
                                                </div>
                                                <div id="logout-btn">
                                                    <a href="{% url 'logout' %}">خارج شوید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="navbar-page" id="login-btn">
                                    <a class="page-locate" href="{% url 'login' %}">ورود/عضویت</a>
                                </div> 
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro">
                <div class="card" id="intro-card">
                    <div class="card" id="about-card-dets">
                        <h3>!!! <p style="display: inline;">PlanPlus</p> برنامه ای دقیق با</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-container">
            {% block body %}{% endblock %} 
        </div>
        <div class="footer-navbar">
            <div class="contact">
                <p>All Copyrights Received</p>
            </div>
        </div>
        <div class="scroll-btn" style="display: none;">
            <img src="{% static 'huger/upscroll.png' %}">
        </div>
        {% block script %}<script src="{% static 'huger/index.js' %}"></script>{% endblock %}
    </body>
</html>