{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'huger/layoutStyles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>PlanPlus</title>
    </head>
    
    <body>
        <header class="navbar-container">
            <div class="navbar">
                <div class="navbar-logo">
                    <a class="logo-content" href="{% url 'index' %}"> 
                        <img src="{% static 'huger/imgs/logo.png' %}" alt="logo">
                        <p class="site-name">PlanPlus</p>
                    </a>
                </div>
                <nav class="main-pages">
                    <ul class="contents">
                        <li>
                            <div class="page" id="contact-btn">
                                <p class="page-locate">ارتباط با ما</p>
                            </div>
                        </li>
                        <li>
                            <div class="page" id="about-btn">
                                <p class="page-locate">درباره ما</p>
                            </div>
                        </li>
                        <li>
                            <div class="page" id="pricing-btn">
                                <p class="page-locate">قیمت ها</p>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="login-page">
                    <div class="login-btn">
                        <a href="{% url 'login' %}">ورود/عضویت</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="body-container">
            <div class="intro-section">
                <div class="container">
                    <div class="intro-dets">
                        <div>! خوش آمدید <span>PlanPlus</span> به سایت </div>
                    </div>    
                </div>
            </div>
            <div class="about-section">
                <div class="about">
                    <div class="about-dets" id="about-card">
                        <div class="about-text"> 
                            ما یک گروه سه نفره هستیم که با هدف بهبود کیفیت زندگی و افزایش کارایی روزانه مردم این وبسایت را تشکیل دادیم. این وبسایت راهی برای گروه ها فراهم می کند تا بتوانند با کمک انواع نمودار ها برنامه های خود را هماهنگ کنند و انجام بدهند. با استفاده از این وبسایت، مردم میتوانند به سادگی در گروه های ساخته شده برای روز های خود ساعت هایی را مشخص کنند و زمان خالی مشترک بین بقیه افراد گروه را پیدا کنند. این سایت به ما کمک می‌کند تا با هم بهتر برنامه‌ریزی کنیم و زمان خالی روزانه خود را به طور موثر استفاده کنیم. ما با این سایت می‌خواهیم تجربیات مثبت و مفیدی را برای همه اشتراک بگذاریم و با هم در ساختن زندگی بهتر برای آینده کمک کنیم.
                        </div>
                        <div class="about-sign">
                            <p>همین حالا ثبت نام کنید :</p>
                            <a href="{% url 'register' %}">ثبت نام</a>
                        </div>
                    </div>
                    
                </div>
                <div id="particles-js"></div>
            </div>
            <div class="pricing-section">
                <div class="pricing">
                    <div class="billing-card" id="left">
                        <div class="card-dets">
                            <p>ماهانه</p>
                            <button class="bill-btn">انتخاب</button>
                        </div>
                    </div>
                    <div class="billing-card" id="middle">
                        <div class="card-dets">
                           <p>رایگان</p>
                           <button class="bill-btn">انتخاب</button>
                        </div>
                    </div>
                    <div class="billing-card" id="right">
                        <div class="card-dets">
                            <p>سالانه</p>
                            <button class="bill-btn">انتخاب</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-navbar">
                <div class="contact">
                    <div class="contact-dets">
                        <div class="contact-ways" id="email">
                            <i class="fa-regular fa-envelope"></i>
                            <p>planplus2024@gmail.com</p>
                        </div>
                        <div class="contact-ways" id="telegram">
                            <i class="fa-brands fa-telegram"></i>
                            <p>@amirrezagohari.08</p>
                        </div>
                        <div class="contact-ways" id="number">
                            <i class="fa-solid fa-phone"></i>
                            <p>+989101838779</p>
                        </div>
                    </div>
                </div>
                <div class="right">تمامی حقوق سایت متعلق به گروه پلن پلاس است</div>
            </div>
        </div>
        <div class="scroll-btn" style="display: none;">
            <img src="{% static 'huger/imgs/upscroll.png' %}">
        </div>
        <script src="{% static 'huger/index.js' %}"></script>
        <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
        <script src="{% static 'huger/particle.js' %}"></script>
        <script src="https://kit.fontawesome.com/4679afff72.js" crossorigin="anonymous"></script>
    </body>
</html>