{% extends "huger/profile.html" %}

{% load static %}

{% block body %}
    <div class="body-container">
        <div class="search-container">
            <div class="search-bar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px">
                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
                <input type="text" class="form-control" id="search-input" placeholder="نام پروژه">
            </div>
            <div class="filter-bar">
            </div>
        </div>
        <div class="contents">
            <div class="main">
                <div class="main-body">
                    {% for plan in plans %}
                        <div class="plan-page">
                            <a class="plan-name" href="{% url 'planPage' plan.url %}">{{plan.name}}</a>
                            <div class="url"> 
                                <p class="plan-url" id="url" href="{% url 'planPage' plan.url %}" onclick="CopyLink()">Https://plan-plus/profile/{{plan.url}}</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="14px">
                                    <path d="M384 336H192c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16l140.1 0L400 115.9V320c0 8.8-7.2 16-16 16zM192 384H384c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1H192c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H256c35.3 0 64-28.7 64-64V416H272v32c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16H96V128H64z"/>
                                </svg>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    {% if plans.has_other_pages %}
                        <ul class="pagination-list">
                        {% if plans.has_previous %}
                            <li><a href="?page={{ plans.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in plans.paginator.page_range %}
                            {% if plans.number == i %}
                                <li class="active">
                                    <span>{{ i }}</span>
                                </li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if plans.has_next %}
                            <li><a href="?page={{ plans.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="new-plan-modal">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="form-dets">
                    <div class="form-header">
                        <span class="close-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" style="height: 20px; width: 20px; display: flex; justify-content: center;" viewBox="0 0 384 512">
                                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                            </svg>
                        </span>
                    </div>
                    <div class="form-contents">
                        <div class="form-input">
                            <p>نام برنامه</p>
                            <input type="text" name="plan-name" required>
                        </div>
                        <div class="form-btn">
                            <input class="submit-btn" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
    
    